body {
  background-color: black;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: larger;
}

li {
  padding: 14px 11px;
  text-decoration: none;
}

#navbar {
  color: white;
}

#dock {
  background-color: darkgray;
  border-radius: 15px;
  padding-inline: 100px;
  width: 800px;
  justify-content: center;
  display: flex;
  padding-left: 400px;
}

#name {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 0%;
  margin-top: 200px;
  display: grid;
  max-width: 575px;
  position: relative;
  font-size: 5rem;
}
#title {
  font-size: 25px;
  margin-top: 0.5%;
  margin-left: 5px;
}
#name::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#name:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#name::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(314, 77%, 86%);
  z-index: -1;
  transition: transform 0.3s ease;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

#desc {
  display: grid;
}
