body {
  background-color: #181818;
  color: #f4efef;
}

#name {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 0%;
  margin-top: 250px;
  display: grid;
  max-width: 575px;
  position: relative;
  font-size: 5rem;
  margin-left: 180px;
  transition: color 0.2s;
  font-family: "Varela Round";
}
#name:hover {
  color: #181818;
}
#title {
  font-size: 25px;
  margin-top: 0.5%;
  margin-left: 205px;
  font-family: "Rubik";
}
#name::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#name:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#name::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #f8bfd4;
  z-index: -1;
  transition: transform 0.3s ease;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

#desc {
  display: grid;
  margin-left: 205px;
  font-family: "Rubik";
}

#contactTitle {
  margin-bottom: 0%;
  margin-top: 250px;
  display: grid;
  max-width: 425px;
  position: relative;
  font-size: 60px;
  margin-left: 168px;
  transition: color 0.2s;
  font-family: "Rubik";
}

#contactTitle:hover {
  color: #181818;
}

#contactTitle::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#contactTitle:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#contactTitle::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #b6add8;
  z-index: -1;
  transition: transform 0.3s ease;
}

#projectText {
  font-size: 60px;
  margin-left: 180px;
  transition: color 0.2s;
  font-family: "Rubik";
}
#projectText:hover {
  color: #181818;
}
#projectText {
  margin-bottom: 0%;
  margin-top: 250px;
  display: grid;
  max-width: 300px;
  position: relative;
  font-size: 60px;
  margin-left: 175px;
}

#projectText::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#projectText:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#projectText::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #a6ccd3;
  z-index: -1;
  transition: transform 0.3s ease;
}

#email {
  font-size: 23px;
  flex: 1;
  margin-top: 83px;
  margin-left: 20px;
}

#number {
  font-size: 23px;
  flex: 1;
  margin-top: 83px;
  margin-left: 20px;
}

#gittext {
  font-size: 23px;
  flex: 1;
  margin-top: 83px;
  margin-left: 20px;
}

#linkedtext {
  font-size: 23px;
  flex: 1;
  margin-top: 83px;
  margin-left: 20px;
}

#navs {
  list-style: none;
  margin-left: 1200px;
  margin-top: 120px;
  padding: none;
  margin-bottom: 0px;
  position: fixed;
}

.emailInfo {
  display: flex;
  font-family: "Rubik";
}

.phoneInfo {
  display: flex;
  font-family: "Rubik";
}

.gitinfo {
  display: flex;
  font-family: "Rubik";
}

.linkedinfo {
  display: flex;
  font-family: "Rubik";
}

.langs {
  display: flex;
  margin-left: 162px;
}

.lang {
  list-style: none;
  display: flex;
}
.lang li {
  margin-right: 20px;
  font-size: 30px;
}

.buttons {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s, font-size 0.1s;
  font-size: 20px;
  font-family: "Rubik";
}

.buttons:hover {
  color: #f8bfd4;
  font-size: 24px;
}

.linkedin {
  font-size: 70px;
  font-family: "Rubik";
}
.githublogo {
  font-size: 70px;
}
.phoneicon {
  font-size: 70px;
  margin-left: 200px;
  margin-top: 60px;
}
.emailicon {
  font-size: 70px;
  margin-left: 200px;
  margin-top: 60px;
}
.linkedin {
  font-size: 70px;
  margin-left: 200px;
  margin-top: 60px;
  color: white;
  font-family: "Rubik";
}
.githublogo {
  font-size: 70px;
  margin-left: 200px;
  margin-top: 60px;
  color: white;
  font-family: "Rubik";
}

.canvas {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  z-index: -1;
}

/*@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
*/
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
